DB_HOST=localhost
DB_PORT=5432
DB_USER=usuario
DB_PASSWORD=contrasena
DB_NAME=erika_pagos
DB_DIALECT=postgres
DB_LOGGING=false
PORT=3007
JWT_KEY=secret_jwt_key

# Configuración Kafka
KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=erika-notificaciones-client
KAFKA_GROUP_ID=erika-notificaciones-group

# Configuración de servicios externos
PAGOS_BASE_URL=http://localhost:3006

# Configuración de almacenamiento de PDFs
PDF_STORAGE_PATH=./storage/pdfs
PROJECT_ROOT=
PDF_BASE_URL=http://localhost:3007/pdfs
